body * {
  font-family: "Inter", sans-serif;
  color: solid red;
}

/*Container*/
#container {
  width: 360px;
  height: 712px;
  border: 1px solid red;
  margin: auto;
}

/* foto de perfil */
#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}
