/*Animação do plano de fundo
Créditos a @screenshake
linkedin.com/in/saranshsinha*/
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 725px 336px #fff, 686px 240px #fff, 138px 420px #fff,
    1800px 1691px #fff, 1414px 410px #fff, 1495px 1934px #fff,
    1413px 1774px #fff, 424px 76px #fff, 1989px 901px #fff, 1489px 1885px #fff,
    1926px 251px #fff, 1882px 205px #fff, 137px 308px #fff, 516px 821px #fff,
    1847px 1183px #fff, 1145px 997px #fff, 283px 1801px #fff, 1445px 549px #fff,
    1330px 1027px #fff, 1991px 1234px #fff, 347px 1140px #fff, 903px 508px #fff,
    70px 129px #fff, 480px 1855px #fff, 1181px 385px #fff, 1006px 611px #fff,
    1674px 1092px #fff, 1859px 1181px #fff, 1482px 1080px #fff, 253px 474px #fff,
    1248px 286px #fff, 1686px 692px #fff, 1393px 1493px #fff, 1213px 689px #fff,
    689px 820px #fff, 923px 95px #fff, 70px 1810px #fff, 214px 377px #fff,
    110px 133px #fff, 1065px 574px #fff, 1350px 1333px #fff, 66px 1553px #fff,
    755px 1155px #fff, 1673px 319px #fff, 745px 124px #fff, 1382px 1762px #fff,
    1061px 18px #fff, 222px 1116px #fff, 1806px 172px #fff, 527px 731px #fff,
    363px 1710px #fff, 434px 513px #fff, 730px 1241px #fff, 203px 829px #fff,
    64px 39px #fff, 1396px 126px #fff, 876px 1890px #fff, 1599px 1711px #fff,
    1164px 1236px #fff, 1558px 1983px #fff, 317px 243px #fff, 1131px 1864px #fff,
    1944px 1443px #fff, 377px 1367px #fff, 682px 1496px #fff, 823px 467px #fff,
    537px 918px #fff, 465px 1626px #fff, 1769px 880px #fff, 109px 15px #fff,
    1663px 962px #fff, 247px 66px #fff, 722px 817px #fff, 331px 974px #fff,
    638px 1260px #fff, 1776px 170px #fff, 1231px 315px #fff, 1997px 1264px #fff,
    1581px 1085px #fff, 773px 1980px #fff, 582px 778px #fff, 1783px 42px #fff,
    1475px 1989px #fff, 1146px 837px #fff, 1109px 815px #fff, 1250px 1597px #fff,
    1728px 1414px #fff, 652px 528px #fff, 1930px 1295px #fff, 951px 1546px #fff,
    1889px 680px #fff, 1591px 1186px #fff, 1415px 1295px #fff, 123px 1858px #fff,
    1996px 1475px #fff, 270px 269px #fff, 118px 590px #fff, 1476px 882px #fff,
    1415px 1640px #fff, 1610px 1495px #fff, 159px 889px #fff, 356px 1569px #fff,
    864px 1267px #fff, 126px 1570px #fff, 1163px 1086px #fff, 197px 1960px #fff,
    1619px 1755px #fff, 1283px 1033px #fff, 549px 931px #fff, 39px 1085px #fff,
    149px 1998px #fff, 1226px 1078px #fff, 1655px 802px #fff, 235px 991px #fff,
    252px 1660px #fff, 1760px 1206px #fff, 1308px 614px #fff, 1607px 1126px #fff,
    478px 410px #fff, 1284px 1789px #fff, 1027px 398px #fff, 436px 1659px #fff,
    227px 221px #fff, 686px 1826px #fff, 1003px 1649px #fff, 1036px 1192px #fff,
    428px 1369px #fff, 547px 1220px #fff, 1866px 215px #fff, 1060px 1272px #fff,
    248px 323px #fff, 1955px 1360px #fff, 1067px 946px #fff, 649px 769px #fff,
    515px 858px #fff, 1194px 1155px #fff, 123px 730px #fff, 1941px 50px #fff,
    781px 1468px #fff, 334px 877px #fff, 1366px 1477px #fff, 810px 1942px #fff,
    1279px 1370px #fff, 504px 1412px #fff, 1258px 196px #fff, 1703px 1573px #fff,
    770px 907px #fff, 744px 642px #fff, 811px 1943px #fff, 775px 1346px #fff,
    1490px 1647px #fff, 178px 734px #fff, 1164px 1330px #fff, 1211px 198px #fff,
    1810px 1770px #fff, 453px 927px #fff, 548px 1248px #fff, 781px 1686px #fff,
    1343px 1673px #fff, 114px 1000px #fff, 1968px 78px #fff, 654px 1448px #fff,
    236px 1292px #fff, 1301px 1872px #fff, 1896px 83px #fff, 1414px 1073px #fff,
    918px 1397px #fff, 1773px 1189px #fff, 1355px 1111px #fff, 148px 208px #fff,
    378px 1790px #fff, 1066px 1477px #fff, 1844px 370px #fff, 266px 661px #fff,
    1344px 1020px #fff, 1307px 1060px #fff, 1052px 1212px #fff,
    248px 1788px #fff, 1418px 1911px #fff, 113px 22px #fff, 1568px 1253px #fff,
    632px 125px #fff, 1204px 512px #fff, 560px 370px #fff, 1236px 1373px #fff,
    58px 1243px #fff, 532px 1420px #fff, 1436px 1265px #fff, 217px 507px #fff,
    499px 1507px #fff, 602px 1026px #fff, 1759px 246px #fff, 1784px 1105px #fff,
    522px 851px #fff, 986px 1223px #fff, 59px 772px #fff, 614px 1244px #fff,
    1623px 1035px #fff, 1941px 977px #fff, 1354px 1200px #fff, 649px 958px #fff,
    1938px 674px #fff, 865px 537px #fff, 1170px 1015px #fff, 790px 592px #fff,
    1704px 808px #fff, 580px 1593px #fff, 555px 1139px #fff, 884px 978px #fff,
    1668px 67px #fff, 1392px 1391px #fff, 1915px 615px #fff, 1365px 49px #fff,
    595px 1428px #fff, 452px 1277px #fff, 934px 802px #fff, 219px 1784px #fff,
    1048px 404px #fff, 658px 1066px #fff, 539px 1126px #fff, 607px 1012px #fff,
    896px 653px #fff, 426px 1813px #fff, 746px 1102px #fff, 1447px 619px #fff,
    1649px 531px #fff, 880px 1167px #fff, 123px 949px #fff, 1007px 1802px #fff,
    670px 162px #fff, 1158px 182px #fff, 451px 1540px #fff, 753px 487px #fff,
    166px 1114px #fff, 1926px 233px #fff, 876px 895px #fff, 1639px 643px #fff,
    1682px 181px #fff, 494px 1317px #fff, 279px 1592px #fff, 156px 1845px #fff,
    165px 46px #fff, 1099px 877px #fff, 1782px 152px #fff, 278px 73px #fff,
    1913px 761px #fff, 317px 1638px #fff, 1501px 901px #fff, 1372px 1744px #fff,
    1445px 116px #fff, 173px 322px #fff, 1029px 1489px #fff, 1694px 1409px #fff,
    73px 1488px #fff, 1419px 521px #fff, 206px 202px #fff, 1157px 1799px #fff,
    769px 45px #fff, 1921px 478px #fff, 1010px 875px #fff, 1989px 1346px #fff,
    1416px 908px #fff, 293px 913px #fff, 1154px 731px #fff, 1529px 1918px #fff,
    91px 965px #fff, 1277px 1998px #fff, 172px 182px #fff, 291px 1446px #fff,
    70px 1906px #fff, 772px 451px #fff, 860px 470px #fff, 1849px 972px #fff,
    1257px 1490px #fff, 1784px 876px #fff, 1232px 264px #fff, 565px 654px #fff,
    298px 1008px #fff, 882px 643px #fff, 991px 565px #fff, 1558px 233px #fff,
    1923px 678px #fff, 992px 1616px #fff, 616px 167px #fff, 772px 850px #fff,
    1352px 914px #fff, 884px 1811px #fff, 633px 854px #fff, 1730px 1144px #fff,
    1848px 143px #fff, 653px 1132px #fff, 1355px 1068px #fff, 35px 1175px #fff,
    1970px 55px #fff, 1416px 509px #fff, 377px 376px #fff, 1146px 1096px #fff,
    1444px 1915px #fff, 828px 498px #fff, 492px 1217px #fff, 1130px 867px #fff,
    434px 354px #fff, 1521px 944px #fff, 449px 625px #fff, 235px 504px #fff,
    1891px 526px #fff, 1736px 1029px #fff, 899px 603px #fff, 1290px 1506px #fff,
    1599px 156px #fff, 869px 1672px #fff, 1074px 1063px #fff, 817px 695px #fff,
    995px 260px #fff, 464px 748px #fff, 1468px 1854px #fff, 285px 1105px #fff,
    994px 372px #fff, 1547px 1011px #fff, 1992px 453px #fff, 1912px 104px #fff,
    702px 169px #fff, 628px 907px #fff, 1521px 1432px #fff, 1387px 1048px #fff,
    1695px 174px #fff, 1999px 342px #fff, 590px 1387px #fff, 1079px 1262px #fff,
    305px 265px #fff, 1949px 1635px #fff, 1800px 1428px #fff, 630px 365px #fff,
    41px 1695px #fff, 244px 1584px #fff, 790px 1825px #fff, 88px 1019px #fff,
    1322px 1746px #fff, 570px 782px #fff, 102px 591px #fff, 459px 1975px #fff,
    1320px 967px #fff, 518px 89px #fff, 43px 1956px #fff, 1808px 624px #fff,
    1402px 92px #fff, 1558px 469px #fff, 1189px 1868px #fff, 297px 757px #fff,
    1356px 630px #fff, 1756px 71px #fff, 1028px 1437px #fff, 1281px 1735px #fff,
    94px 1051px #fff, 1389px 1635px #fff, 1264px 1347px #fff, 1595px 810px #fff,
    1602px 766px #fff, 415px 1382px #fff, 235px 1059px #fff, 631px 1237px #fff,
    1101px 639px #fff, 191px 1708px #fff, 441px 1500px #fff, 66px 677px #fff,
    1403px 1730px #fff, 474px 1514px #fff, 1600px 1440px #fff,
    1740px 1391px #fff, 873px 959px #fff, 1349px 1993px #fff, 997px 1839px #fff,
    262px 1785px #fff, 902px 667px #fff, 1968px 41px #fff, 1255px 814px #fff,
    774px 907px #fff, 285px 1762px #fff, 1077px 944px #fff, 1534px 1203px #fff,
    1652px 1651px #fff, 1198px 1270px #fff, 1940px 640px #fff, 1938px 769px #fff,
    726px 1649px #fff, 162px 1602px #fff, 1443px 1367px #fff, 641px 1110px #fff,
    63px 992px #fff, 1242px 1391px #fff, 1212px 945px #fff, 1496px 312px #fff,
    980px 1668px #fff, 1596px 1034px #fff, 1549px 1169px #fff, 33px 1122px #fff,
    1942px 689px #fff, 343px 764px #fff, 1756px 1023px #fff, 1842px 24px #fff,
    886px 172px #fff, 515px 1061px #fff, 1624px 1850px #fff, 1815px 1513px #fff,
    551px 1451px #fff, 204px 1231px #fff, 1391px 364px #fff, 1917px 1660px #fff,
    1049px 452px #fff, 1028px 1085px #fff, 1629px 1959px #fff, 964px 1979px #fff,
    112px 1748px #fff, 1943px 1272px #fff, 1460px 1674px #fff,
    1988px 1345px #fff, 188px 192px #fff, 1778px 1936px #fff, 1080px 93px #fff,
    1729px 853px #fff, 107px 890px #fff, 477px 1489px #fff, 1552px 1976px #fff,
    912px 1947px #fff, 1369px 1098px #fff, 1260px 1622px #fff, 987px 1105px #fff,
    1438px 1637px #fff, 1007px 9px #fff, 121px 432px #fff, 1869px 263px #fff,
    1916px 364px #fff, 1853px 337px #fff, 445px 1637px #fff, 1374px 713px #fff,
    456px 221px #fff, 710px 1748px #fff, 1787px 193px #fff, 1975px 202px #fff,
    1351px 1588px #fff, 317px 58px #fff, 1003px 991px #fff, 726px 1866px #fff,
    131px 1847px #fff, 745px 218px #fff, 1804px 470px #fff, 1622px 1363px #fff,
    615px 668px #fff, 1931px 1760px #fff, 1862px 1138px #fff, 752px 1577px #fff,
    552px 98px #fff, 1305px 766px #fff, 216px 688px #fff, 537px 174px #fff,
    350px 1203px #fff, 1142px 139px #fff, 901px 1307px #fff, 1020px 254px #fff,
    208px 671px #fff, 152px 1919px #fff, 1997px 1723px #fff, 912px 1050px #fff,
    116px 1669px #fff, 370px 1051px #fff, 1005px 1872px #fff, 496px 1652px #fff,
    545px 259px #fff, 1723px 208px #fff, 1871px 823px #fff, 1976px 445px #fff,
    220px 944px #fff, 1958px 1799px #fff, 1169px 1928px #fff, 937px 911px #fff,
    528px 1342px #fff, 871px 872px #fff, 1093px 563px #fff, 1637px 51px #fff,
    180px 681px #fff, 1205px 1953px #fff, 1742px 347px #fff, 1911px 92px #fff,
    409px 544px #fff, 643px 1509px #fff, 1129px 1203px #fff, 928px 915px #fff,
    1392px 597px #fff, 213px 573px #fff, 1710px 941px #fff, 646px 553px #fff,
    241px 277px #fff, 1866px 364px #fff, 683px 787px #fff, 162px 1036px #fff,
    1149px 1934px #fff, 1892px 547px #fff, 1243px 592px #fff, 1756px 1017px #fff,
    1667px 1978px #fff, 393px 1867px #fff, 1430px 1137px #fff, 764px 682px #fff,
    1135px 965px #fff, 872px 961px #fff, 1220px 1511px #fff, 1011px 1519px #fff,
    1104px 566px #fff, 1706px 1763px #fff, 486px 245px #fff, 191px 395px #fff,
    1599px 891px #fff, 478px 1599px #fff, 1373px 751px #fff, 84px 1945px #fff,
    1467px 877px #fff, 1097px 1892px #fff, 415px 111px #fff, 992px 242px #fff,
    1013px 1417px #fff, 640px 535px #fff, 1699px 1848px #fff, 614px 189px #fff,
    1247px 653px #fff, 464px 1988px #fff, 961px 1982px #fff, 568px 682px #fff,
    1975px 1606px #fff, 965px 101px #fff, 1407px 76px #fff, 1024px 1603px #fff,
    297px 124px #fff, 1602px 266px #fff, 1012px 897px #fff, 969px 490px #fff,
    1047px 315px #fff, 965px 1346px #fff, 1705px 1516px #fff, 1269px 1915px #fff,
    279px 1363px #fff, 1306px 1593px #fff, 260px 719px #fff, 79px 2px #fff,
    1308px 1240px #fff, 1587px 899px #fff, 1224px 1512px #fff, 1160px 44px #fff,
    366px 1429px #fff, 559px 1807px #fff, 1245px 633px #fff, 305px 1403px #fff,
    781px 1145px #fff, 1661px 1551px #fff, 322px 1923px #fff, 1595px 350px #fff,
    798px 297px #fff, 859px 338px #fff, 592px 1247px #fff, 1662px 462px #fff,
    1637px 121px #fff, 431px 701px #fff, 584px 809px #fff, 1640px 218px #fff,
    682px 766px #fff, 1436px 721px #fff, 353px 1583px #fff, 1780px 1154px #fff,
    1708px 1274px #fff, 200px 1993px #fff, 1843px 848px #fff, 242px 756px #fff,
    1192px 1263px #fff, 1626px 829px #fff, 1678px 1985px #fff, 1958px 994px #fff,
    989px 696px #fff, 860px 1293px #fff, 353px 654px #fff, 1900px 604px #fff,
    544px 548px #fff, 1026px 1749px #fff, 937px 492px #fff, 1067px 1388px #fff,
    1748px 1315px #fff, 801px 1631px #fff, 1812px 1399px #fff, 645px 868px #fff,
    50px 560px #fff, 884px 537px #fff, 1147px 1490px #fff, 496px 1567px #fff,
    598px 998px #fff, 459px 1835px #fff, 1322px 32px #fff, 889px 1460px #fff,
    489px 604px #fff, 1557px 785px #fff, 641px 67px #fff, 1073px 805px #fff,
    1747px 1523px #fff, 543px 148px #fff, 1550px 1257px #fff, 1995px 653px #fff,
    1611px 1506px #fff, 783px 777px #fff, 984px 621px #fff, 635px 703px #fff,
    1224px 685px #fff, 1236px 319px #fff, 198px 433px #fff, 273px 1810px #fff,
    1727px 61px #fff, 706px 1883px #fff, 881px 1267px #fff, 1578px 842px #fff,
    732px 1196px #fff, 10px 213px #fff, 1755px 1564px #fff, 1634px 1613px #fff,
    207px 552px #fff, 1517px 1656px #fff, 1781px 1920px #fff, 113px 1164px #fff,
    361px 391px #fff, 1367px 1304px #fff, 483px 1588px #fff, 1173px 1773px #fff,
    1997px 1053px #fff, 954px 330px #fff, 486px 917px #fff, 1721px 1888px #fff,
    1160px 1535px #fff, 1838px 1208px #fff, 414px 1504px #fff, 309px 998px #fff,
    1767px 13px #fff, 1357px 887px #fff, 648px 374px #fff, 639px 1786px #fff,
    163px 878px #fff, 1557px 296px #fff, 1204px 66px #fff, 798px 209px #fff,
    171px 679px #fff, 723px 362px #fff, 976px 391px #fff, 1304px 1512px #fff,
    1514px 1839px #fff, 783px 1936px #fff, 472px 904px #fff, 1369px 281px #fff,
    240px 500px #fff, 1628px 649px #fff, 1609px 1760px #fff, 881px 1289px #fff,
    1355px 210px #fff, 1596px 606px #fff, 1571px 1406px #fff, 1374px 1601px #fff,
    1003px 652px #fff, 856px 488px #fff, 749px 477px #fff, 1815px 114px #fff,
    653px 43px #fff, 556px 1735px #fff, 1732px 854px #fff, 791px 1963px #fff,
    763px 838px #fff, 1153px 941px #fff, 711px 1186px #fff, 96px 321px #fff,
    1005px 505px #fff, 65px 1392px #fff, 430px 1105px #fff, 140px 471px #fff,
    1712px 1430px #fff, 1749px 1784px #fff, 825px 1811px #fff, 78px 718px #fff,
    611px 1668px #fff, 869px 271px #fff, 1199px 1088px #fff, 270px 53px #fff,
    1209px 1781px #fff, 1105px 1574px #fff, 832px 1043px #fff, 36px 1744px #fff,
    924px 990px #fff, 1845px 584px #fff, 717px 1750px #fff, 1505px 1015px #fff,
    436px 1594px #fff, 626px 989px #fff, 1365px 450px #fff, 1224px 1832px #fff,
    568px 1387px #fff, 1001px 1041px #fff, 1829px 102px #fff, 1788px 159px #fff,
    1461px 1059px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 725px 336px #fff, 686px 240px #fff, 138px 420px #fff,
    1800px 1691px #fff, 1414px 410px #fff, 1495px 1934px #fff,
    1413px 1774px #fff, 424px 76px #fff, 1989px 901px #fff, 1489px 1885px #fff,
    1926px 251px #fff, 1882px 205px #fff, 137px 308px #fff, 516px 821px #fff,
    1847px 1183px #fff, 1145px 997px #fff, 283px 1801px #fff, 1445px 549px #fff,
    1330px 1027px #fff, 1991px 1234px #fff, 347px 1140px #fff, 903px 508px #fff,
    70px 129px #fff, 480px 1855px #fff, 1181px 385px #fff, 1006px 611px #fff,
    1674px 1092px #fff, 1859px 1181px #fff, 1482px 1080px #fff, 253px 474px #fff,
    1248px 286px #fff, 1686px 692px #fff, 1393px 1493px #fff, 1213px 689px #fff,
    689px 820px #fff, 923px 95px #fff, 70px 1810px #fff, 214px 377px #fff,
    110px 133px #fff, 1065px 574px #fff, 1350px 1333px #fff, 66px 1553px #fff,
    755px 1155px #fff, 1673px 319px #fff, 745px 124px #fff, 1382px 1762px #fff,
    1061px 18px #fff, 222px 1116px #fff, 1806px 172px #fff, 527px 731px #fff,
    363px 1710px #fff, 434px 513px #fff, 730px 1241px #fff, 203px 829px #fff,
    64px 39px #fff, 1396px 126px #fff, 876px 1890px #fff, 1599px 1711px #fff,
    1164px 1236px #fff, 1558px 1983px #fff, 317px 243px #fff, 1131px 1864px #fff,
    1944px 1443px #fff, 377px 1367px #fff, 682px 1496px #fff, 823px 467px #fff,
    537px 918px #fff, 465px 1626px #fff, 1769px 880px #fff, 109px 15px #fff,
    1663px 962px #fff, 247px 66px #fff, 722px 817px #fff, 331px 974px #fff,
    638px 1260px #fff, 1776px 170px #fff, 1231px 315px #fff, 1997px 1264px #fff,
    1581px 1085px #fff, 773px 1980px #fff, 582px 778px #fff, 1783px 42px #fff,
    1475px 1989px #fff, 1146px 837px #fff, 1109px 815px #fff, 1250px 1597px #fff,
    1728px 1414px #fff, 652px 528px #fff, 1930px 1295px #fff, 951px 1546px #fff,
    1889px 680px #fff, 1591px 1186px #fff, 1415px 1295px #fff, 123px 1858px #fff,
    1996px 1475px #fff, 270px 269px #fff, 118px 590px #fff, 1476px 882px #fff,
    1415px 1640px #fff, 1610px 1495px #fff, 159px 889px #fff, 356px 1569px #fff,
    864px 1267px #fff, 126px 1570px #fff, 1163px 1086px #fff, 197px 1960px #fff,
    1619px 1755px #fff, 1283px 1033px #fff, 549px 931px #fff, 39px 1085px #fff,
    149px 1998px #fff, 1226px 1078px #fff, 1655px 802px #fff, 235px 991px #fff,
    252px 1660px #fff, 1760px 1206px #fff, 1308px 614px #fff, 1607px 1126px #fff,
    478px 410px #fff, 1284px 1789px #fff, 1027px 398px #fff, 436px 1659px #fff,
    227px 221px #fff, 686px 1826px #fff, 1003px 1649px #fff, 1036px 1192px #fff,
    428px 1369px #fff, 547px 1220px #fff, 1866px 215px #fff, 1060px 1272px #fff,
    248px 323px #fff, 1955px 1360px #fff, 1067px 946px #fff, 649px 769px #fff,
    515px 858px #fff, 1194px 1155px #fff, 123px 730px #fff, 1941px 50px #fff,
    781px 1468px #fff, 334px 877px #fff, 1366px 1477px #fff, 810px 1942px #fff,
    1279px 1370px #fff, 504px 1412px #fff, 1258px 196px #fff, 1703px 1573px #fff,
    770px 907px #fff, 744px 642px #fff, 811px 1943px #fff, 775px 1346px #fff,
    1490px 1647px #fff, 178px 734px #fff, 1164px 1330px #fff, 1211px 198px #fff,
    1810px 1770px #fff, 453px 927px #fff, 548px 1248px #fff, 781px 1686px #fff,
    1343px 1673px #fff, 114px 1000px #fff, 1968px 78px #fff, 654px 1448px #fff,
    236px 1292px #fff, 1301px 1872px #fff, 1896px 83px #fff, 1414px 1073px #fff,
    918px 1397px #fff, 1773px 1189px #fff, 1355px 1111px #fff, 148px 208px #fff,
    378px 1790px #fff, 1066px 1477px #fff, 1844px 370px #fff, 266px 661px #fff,
    1344px 1020px #fff, 1307px 1060px #fff, 1052px 1212px #fff,
    248px 1788px #fff, 1418px 1911px #fff, 113px 22px #fff, 1568px 1253px #fff,
    632px 125px #fff, 1204px 512px #fff, 560px 370px #fff, 1236px 1373px #fff,
    58px 1243px #fff, 532px 1420px #fff, 1436px 1265px #fff, 217px 507px #fff,
    499px 1507px #fff, 602px 1026px #fff, 1759px 246px #fff, 1784px 1105px #fff,
    522px 851px #fff, 986px 1223px #fff, 59px 772px #fff, 614px 1244px #fff,
    1623px 1035px #fff, 1941px 977px #fff, 1354px 1200px #fff, 649px 958px #fff,
    1938px 674px #fff, 865px 537px #fff, 1170px 1015px #fff, 790px 592px #fff,
    1704px 808px #fff, 580px 1593px #fff, 555px 1139px #fff, 884px 978px #fff,
    1668px 67px #fff, 1392px 1391px #fff, 1915px 615px #fff, 1365px 49px #fff,
    595px 1428px #fff, 452px 1277px #fff, 934px 802px #fff, 219px 1784px #fff,
    1048px 404px #fff, 658px 1066px #fff, 539px 1126px #fff, 607px 1012px #fff,
    896px 653px #fff, 426px 1813px #fff, 746px 1102px #fff, 1447px 619px #fff,
    1649px 531px #fff, 880px 1167px #fff, 123px 949px #fff, 1007px 1802px #fff,
    670px 162px #fff, 1158px 182px #fff, 451px 1540px #fff, 753px 487px #fff,
    166px 1114px #fff, 1926px 233px #fff, 876px 895px #fff, 1639px 643px #fff,
    1682px 181px #fff, 494px 1317px #fff, 279px 1592px #fff, 156px 1845px #fff,
    165px 46px #fff, 1099px 877px #fff, 1782px 152px #fff, 278px 73px #fff,
    1913px 761px #fff, 317px 1638px #fff, 1501px 901px #fff, 1372px 1744px #fff,
    1445px 116px #fff, 173px 322px #fff, 1029px 1489px #fff, 1694px 1409px #fff,
    73px 1488px #fff, 1419px 521px #fff, 206px 202px #fff, 1157px 1799px #fff,
    769px 45px #fff, 1921px 478px #fff, 1010px 875px #fff, 1989px 1346px #fff,
    1416px 908px #fff, 293px 913px #fff, 1154px 731px #fff, 1529px 1918px #fff,
    91px 965px #fff, 1277px 1998px #fff, 172px 182px #fff, 291px 1446px #fff,
    70px 1906px #fff, 772px 451px #fff, 860px 470px #fff, 1849px 972px #fff,
    1257px 1490px #fff, 1784px 876px #fff, 1232px 264px #fff, 565px 654px #fff,
    298px 1008px #fff, 882px 643px #fff, 991px 565px #fff, 1558px 233px #fff,
    1923px 678px #fff, 992px 1616px #fff, 616px 167px #fff, 772px 850px #fff,
    1352px 914px #fff, 884px 1811px #fff, 633px 854px #fff, 1730px 1144px #fff,
    1848px 143px #fff, 653px 1132px #fff, 1355px 1068px #fff, 35px 1175px #fff,
    1970px 55px #fff, 1416px 509px #fff, 377px 376px #fff, 1146px 1096px #fff,
    1444px 1915px #fff, 828px 498px #fff, 492px 1217px #fff, 1130px 867px #fff,
    434px 354px #fff, 1521px 944px #fff, 449px 625px #fff, 235px 504px #fff,
    1891px 526px #fff, 1736px 1029px #fff, 899px 603px #fff, 1290px 1506px #fff,
    1599px 156px #fff, 869px 1672px #fff, 1074px 1063px #fff, 817px 695px #fff,
    995px 260px #fff, 464px 748px #fff, 1468px 1854px #fff, 285px 1105px #fff,
    994px 372px #fff, 1547px 1011px #fff, 1992px 453px #fff, 1912px 104px #fff,
    702px 169px #fff, 628px 907px #fff, 1521px 1432px #fff, 1387px 1048px #fff,
    1695px 174px #fff, 1999px 342px #fff, 590px 1387px #fff, 1079px 1262px #fff,
    305px 265px #fff, 1949px 1635px #fff, 1800px 1428px #fff, 630px 365px #fff,
    41px 1695px #fff, 244px 1584px #fff, 790px 1825px #fff, 88px 1019px #fff,
    1322px 1746px #fff, 570px 782px #fff, 102px 591px #fff, 459px 1975px #fff,
    1320px 967px #fff, 518px 89px #fff, 43px 1956px #fff, 1808px 624px #fff,
    1402px 92px #fff, 1558px 469px #fff, 1189px 1868px #fff, 297px 757px #fff,
    1356px 630px #fff, 1756px 71px #fff, 1028px 1437px #fff, 1281px 1735px #fff,
    94px 1051px #fff, 1389px 1635px #fff, 1264px 1347px #fff, 1595px 810px #fff,
    1602px 766px #fff, 415px 1382px #fff, 235px 1059px #fff, 631px 1237px #fff,
    1101px 639px #fff, 191px 1708px #fff, 441px 1500px #fff, 66px 677px #fff,
    1403px 1730px #fff, 474px 1514px #fff, 1600px 1440px #fff,
    1740px 1391px #fff, 873px 959px #fff, 1349px 1993px #fff, 997px 1839px #fff,
    262px 1785px #fff, 902px 667px #fff, 1968px 41px #fff, 1255px 814px #fff,
    774px 907px #fff, 285px 1762px #fff, 1077px 944px #fff, 1534px 1203px #fff,
    1652px 1651px #fff, 1198px 1270px #fff, 1940px 640px #fff, 1938px 769px #fff,
    726px 1649px #fff, 162px 1602px #fff, 1443px 1367px #fff, 641px 1110px #fff,
    63px 992px #fff, 1242px 1391px #fff, 1212px 945px #fff, 1496px 312px #fff,
    980px 1668px #fff, 1596px 1034px #fff, 1549px 1169px #fff, 33px 1122px #fff,
    1942px 689px #fff, 343px 764px #fff, 1756px 1023px #fff, 1842px 24px #fff,
    886px 172px #fff, 515px 1061px #fff, 1624px 1850px #fff, 1815px 1513px #fff,
    551px 1451px #fff, 204px 1231px #fff, 1391px 364px #fff, 1917px 1660px #fff,
    1049px 452px #fff, 1028px 1085px #fff, 1629px 1959px #fff, 964px 1979px #fff,
    112px 1748px #fff, 1943px 1272px #fff, 1460px 1674px #fff,
    1988px 1345px #fff, 188px 192px #fff, 1778px 1936px #fff, 1080px 93px #fff,
    1729px 853px #fff, 107px 890px #fff, 477px 1489px #fff, 1552px 1976px #fff,
    912px 1947px #fff, 1369px 1098px #fff, 1260px 1622px #fff, 987px 1105px #fff,
    1438px 1637px #fff, 1007px 9px #fff, 121px 432px #fff, 1869px 263px #fff,
    1916px 364px #fff, 1853px 337px #fff, 445px 1637px #fff, 1374px 713px #fff,
    456px 221px #fff, 710px 1748px #fff, 1787px 193px #fff, 1975px 202px #fff,
    1351px 1588px #fff, 317px 58px #fff, 1003px 991px #fff, 726px 1866px #fff,
    131px 1847px #fff, 745px 218px #fff, 1804px 470px #fff, 1622px 1363px #fff,
    615px 668px #fff, 1931px 1760px #fff, 1862px 1138px #fff, 752px 1577px #fff,
    552px 98px #fff, 1305px 766px #fff, 216px 688px #fff, 537px 174px #fff,
    350px 1203px #fff, 1142px 139px #fff, 901px 1307px #fff, 1020px 254px #fff,
    208px 671px #fff, 152px 1919px #fff, 1997px 1723px #fff, 912px 1050px #fff,
    116px 1669px #fff, 370px 1051px #fff, 1005px 1872px #fff, 496px 1652px #fff,
    545px 259px #fff, 1723px 208px #fff, 1871px 823px #fff, 1976px 445px #fff,
    220px 944px #fff, 1958px 1799px #fff, 1169px 1928px #fff, 937px 911px #fff,
    528px 1342px #fff, 871px 872px #fff, 1093px 563px #fff, 1637px 51px #fff,
    180px 681px #fff, 1205px 1953px #fff, 1742px 347px #fff, 1911px 92px #fff,
    409px 544px #fff, 643px 1509px #fff, 1129px 1203px #fff, 928px 915px #fff,
    1392px 597px #fff, 213px 573px #fff, 1710px 941px #fff, 646px 553px #fff,
    241px 277px #fff, 1866px 364px #fff, 683px 787px #fff, 162px 1036px #fff,
    1149px 1934px #fff, 1892px 547px #fff, 1243px 592px #fff, 1756px 1017px #fff,
    1667px 1978px #fff, 393px 1867px #fff, 1430px 1137px #fff, 764px 682px #fff,
    1135px 965px #fff, 872px 961px #fff, 1220px 1511px #fff, 1011px 1519px #fff,
    1104px 566px #fff, 1706px 1763px #fff, 486px 245px #fff, 191px 395px #fff,
    1599px 891px #fff, 478px 1599px #fff, 1373px 751px #fff, 84px 1945px #fff,
    1467px 877px #fff, 1097px 1892px #fff, 415px 111px #fff, 992px 242px #fff,
    1013px 1417px #fff, 640px 535px #fff, 1699px 1848px #fff, 614px 189px #fff,
    1247px 653px #fff, 464px 1988px #fff, 961px 1982px #fff, 568px 682px #fff,
    1975px 1606px #fff, 965px 101px #fff, 1407px 76px #fff, 1024px 1603px #fff,
    297px 124px #fff, 1602px 266px #fff, 1012px 897px #fff, 969px 490px #fff,
    1047px 315px #fff, 965px 1346px #fff, 1705px 1516px #fff, 1269px 1915px #fff,
    279px 1363px #fff, 1306px 1593px #fff, 260px 719px #fff, 79px 2px #fff,
    1308px 1240px #fff, 1587px 899px #fff, 1224px 1512px #fff, 1160px 44px #fff,
    366px 1429px #fff, 559px 1807px #fff, 1245px 633px #fff, 305px 1403px #fff,
    781px 1145px #fff, 1661px 1551px #fff, 322px 1923px #fff, 1595px 350px #fff,
    798px 297px #fff, 859px 338px #fff, 592px 1247px #fff, 1662px 462px #fff,
    1637px 121px #fff, 431px 701px #fff, 584px 809px #fff, 1640px 218px #fff,
    682px 766px #fff, 1436px 721px #fff, 353px 1583px #fff, 1780px 1154px #fff,
    1708px 1274px #fff, 200px 1993px #fff, 1843px 848px #fff, 242px 756px #fff,
    1192px 1263px #fff, 1626px 829px #fff, 1678px 1985px #fff, 1958px 994px #fff,
    989px 696px #fff, 860px 1293px #fff, 353px 654px #fff, 1900px 604px #fff,
    544px 548px #fff, 1026px 1749px #fff, 937px 492px #fff, 1067px 1388px #fff,
    1748px 1315px #fff, 801px 1631px #fff, 1812px 1399px #fff, 645px 868px #fff,
    50px 560px #fff, 884px 537px #fff, 1147px 1490px #fff, 496px 1567px #fff,
    598px 998px #fff, 459px 1835px #fff, 1322px 32px #fff, 889px 1460px #fff,
    489px 604px #fff, 1557px 785px #fff, 641px 67px #fff, 1073px 805px #fff,
    1747px 1523px #fff, 543px 148px #fff, 1550px 1257px #fff, 1995px 653px #fff,
    1611px 1506px #fff, 783px 777px #fff, 984px 621px #fff, 635px 703px #fff,
    1224px 685px #fff, 1236px 319px #fff, 198px 433px #fff, 273px 1810px #fff,
    1727px 61px #fff, 706px 1883px #fff, 881px 1267px #fff, 1578px 842px #fff,
    732px 1196px #fff, 10px 213px #fff, 1755px 1564px #fff, 1634px 1613px #fff,
    207px 552px #fff, 1517px 1656px #fff, 1781px 1920px #fff, 113px 1164px #fff,
    361px 391px #fff, 1367px 1304px #fff, 483px 1588px #fff, 1173px 1773px #fff,
    1997px 1053px #fff, 954px 330px #fff, 486px 917px #fff, 1721px 1888px #fff,
    1160px 1535px #fff, 1838px 1208px #fff, 414px 1504px #fff, 309px 998px #fff,
    1767px 13px #fff, 1357px 887px #fff, 648px 374px #fff, 639px 1786px #fff,
    163px 878px #fff, 1557px 296px #fff, 1204px 66px #fff, 798px 209px #fff,
    171px 679px #fff, 723px 362px #fff, 976px 391px #fff, 1304px 1512px #fff,
    1514px 1839px #fff, 783px 1936px #fff, 472px 904px #fff, 1369px 281px #fff,
    240px 500px #fff, 1628px 649px #fff, 1609px 1760px #fff, 881px 1289px #fff,
    1355px 210px #fff, 1596px 606px #fff, 1571px 1406px #fff, 1374px 1601px #fff,
    1003px 652px #fff, 856px 488px #fff, 749px 477px #fff, 1815px 114px #fff,
    653px 43px #fff, 556px 1735px #fff, 1732px 854px #fff, 791px 1963px #fff,
    763px 838px #fff, 1153px 941px #fff, 711px 1186px #fff, 96px 321px #fff,
    1005px 505px #fff, 65px 1392px #fff, 430px 1105px #fff, 140px 471px #fff,
    1712px 1430px #fff, 1749px 1784px #fff, 825px 1811px #fff, 78px 718px #fff,
    611px 1668px #fff, 869px 271px #fff, 1199px 1088px #fff, 270px 53px #fff,
    1209px 1781px #fff, 1105px 1574px #fff, 832px 1043px #fff, 36px 1744px #fff,
    924px 990px #fff, 1845px 584px #fff, 717px 1750px #fff, 1505px 1015px #fff,
    436px 1594px #fff, 626px 989px #fff, 1365px 450px #fff, 1224px 1832px #fff,
    568px 1387px #fff, 1001px 1041px #fff, 1829px 102px #fff, 1788px 159px #fff,
    1461px 1059px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1288px 583px #fff, 1966px 555px #fff, 510px 224px #fff,
    502px 532px #fff, 360px 1664px #fff, 485px 452px #fff, 1252px 1639px #fff,
    115px 1600px #fff, 564px 211px #fff, 1445px 218px #fff, 485px 771px #fff,
    1478px 192px #fff, 113px 293px #fff, 1061px 1769px #fff, 650px 895px #fff,
    1593px 1901px #fff, 1176px 1706px #fff, 1670px 335px #fff, 892px 18px #fff,
    1963px 355px #fff, 1972px 531px #fff, 1801px 1368px #fff, 1519px 142px #fff,
    1354px 1790px #fff, 1203px 380px #fff, 442px 650px #fff, 383px 679px #fff,
    1734px 241px #fff, 812px 469px #fff, 458px 1401px #fff, 1868px 470px #fff,
    1832px 1298px #fff, 1522px 595px #fff, 726px 860px #fff, 27px 806px #fff,
    971px 1566px #fff, 806px 480px #fff, 1457px 847px #fff, 375px 246px #fff,
    1865px 326px #fff, 223px 768px #fff, 1029px 604px #fff, 1185px 1757px #fff,
    1678px 1265px #fff, 1866px 1725px #fff, 362px 435px #fff, 756px 1489px #fff,
    852px 582px #fff, 522px 1499px #fff, 136px 1676px #fff, 1340px 662px #fff,
    1462px 1156px #fff, 55px 629px #fff, 529px 503px #fff, 1693px 1237px #fff,
    1883px 565px #fff, 1608px 1674px #fff, 370px 115px #fff, 1567px 1989px #fff,
    981px 1316px #fff, 42px 1698px #fff, 368px 1970px #fff, 848px 566px #fff,
    936px 1170px #fff, 923px 1452px #fff, 1749px 1684px #fff, 1371px 777px #fff,
    1661px 1463px #fff, 1925px 1085px #fff, 1114px 698px #fff,
    1686px 1383px #fff, 661px 345px #fff, 1085px 1985px #fff, 1080px 1378px #fff,
    417px 390px #fff, 1903px 170px #fff, 1863px 1773px #fff, 1547px 1895px #fff,
    1269px 207px #fff, 446px 293px #fff, 1114px 1675px #fff, 1172px 1731px #fff,
    1753px 547px #fff, 1995px 1790px #fff, 955px 708px #fff, 779px 162px #fff,
    1862px 265px #fff, 1330px 857px #fff, 796px 1834px #fff, 994px 1702px #fff,
    92px 1795px #fff, 1091px 626px #fff, 679px 1120px #fff, 67px 1703px #fff,
    529px 1218px #fff, 1802px 1797px #fff, 623px 684px #fff, 1572px 1563px #fff,
    1370px 144px #fff, 531px 1506px #fff, 518px 567px #fff, 399px 1386px #fff,
    1937px 308px #fff, 1484px 1660px #fff, 395px 121px #fff, 1810px 1088px #fff,
    1108px 1643px #fff, 1297px 931px #fff, 1286px 414px #fff, 1994px 1791px #fff,
    592px 1090px #fff, 1684px 612px #fff, 1003px 1422px #fff, 723px 553px #fff,
    337px 49px #fff, 1496px 572px #fff, 1986px 680px #fff, 757px 508px #fff,
    1667px 940px #fff, 1900px 1458px #fff, 1105px 900px #fff, 968px 103px #fff,
    342px 1243px #fff, 108px 490px #fff, 1360px 491px #fff, 1590px 8px #fff,
    971px 253px #fff, 1009px 1039px #fff, 1227px 1700px #fff, 58px 1734px #fff,
    144px 1270px #fff, 833px 644px #fff, 579px 107px #fff, 1208px 347px #fff,
    1450px 1801px #fff, 1187px 908px #fff, 9px 42px #fff, 907px 213px #fff,
    1517px 1147px #fff, 287px 62px #fff, 752px 889px #fff, 897px 1712px #fff,
    446px 1981px #fff, 1025px 400px #fff, 1899px 415px #fff, 463px 1543px #fff,
    645px 847px #fff, 1443px 698px #fff, 304px 456px #fff, 965px 1632px #fff,
    528px 648px #fff, 1715px 171px #fff, 1498px 1949px #fff, 477px 1086px #fff,
    43px 735px #fff, 1075px 1827px #fff, 167px 1173px #fff, 1768px 152px #fff,
    83px 1313px #fff, 1061px 443px #fff, 684px 1715px #fff, 99px 1469px #fff,
    1480px 423px #fff, 417px 85px #fff, 686px 220px #fff, 949px 399px #fff,
    681px 74px #fff, 232px 1111px #fff, 1991px 1559px #fff, 1019px 1300px #fff,
    849px 948px #fff, 1222px 22px #fff, 1252px 1699px #fff, 731px 1909px #fff,
    1973px 972px #fff, 705px 601px #fff, 1207px 1805px #fff, 371px 554px #fff,
    283px 1360px #fff, 1796px 1503px #fff, 200px 1945px #fff, 1587px 11px #fff,
    1526px 1275px #fff, 1125px 1753px #fff, 1216px 1700px #fff, 1677px 20px #fff,
    592px 371px #fff, 1363px 1825px #fff, 324px 139px #fff, 1712px 1735px #fff,
    1829px 1325px #fff, 601px 1234px #fff, 1533px 861px #fff, 1771px 1743px #fff,
    265px 217px #fff, 1317px 326px #fff, 1524px 1042px #fff, 865px 1184px #fff,
    407px 775px #fff, 689px 1176px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1288px 583px #fff, 1966px 555px #fff, 510px 224px #fff,
    502px 532px #fff, 360px 1664px #fff, 485px 452px #fff, 1252px 1639px #fff,
    115px 1600px #fff, 564px 211px #fff, 1445px 218px #fff, 485px 771px #fff,
    1478px 192px #fff, 113px 293px #fff, 1061px 1769px #fff, 650px 895px #fff,
    1593px 1901px #fff, 1176px 1706px #fff, 1670px 335px #fff, 892px 18px #fff,
    1963px 355px #fff, 1972px 531px #fff, 1801px 1368px #fff, 1519px 142px #fff,
    1354px 1790px #fff, 1203px 380px #fff, 442px 650px #fff, 383px 679px #fff,
    1734px 241px #fff, 812px 469px #fff, 458px 1401px #fff, 1868px 470px #fff,
    1832px 1298px #fff, 1522px 595px #fff, 726px 860px #fff, 27px 806px #fff,
    971px 1566px #fff, 806px 480px #fff, 1457px 847px #fff, 375px 246px #fff,
    1865px 326px #fff, 223px 768px #fff, 1029px 604px #fff, 1185px 1757px #fff,
    1678px 1265px #fff, 1866px 1725px #fff, 362px 435px #fff, 756px 1489px #fff,
    852px 582px #fff, 522px 1499px #fff, 136px 1676px #fff, 1340px 662px #fff,
    1462px 1156px #fff, 55px 629px #fff, 529px 503px #fff, 1693px 1237px #fff,
    1883px 565px #fff, 1608px 1674px #fff, 370px 115px #fff, 1567px 1989px #fff,
    981px 1316px #fff, 42px 1698px #fff, 368px 1970px #fff, 848px 566px #fff,
    936px 1170px #fff, 923px 1452px #fff, 1749px 1684px #fff, 1371px 777px #fff,
    1661px 1463px #fff, 1925px 1085px #fff, 1114px 698px #fff,
    1686px 1383px #fff, 661px 345px #fff, 1085px 1985px #fff, 1080px 1378px #fff,
    417px 390px #fff, 1903px 170px #fff, 1863px 1773px #fff, 1547px 1895px #fff,
    1269px 207px #fff, 446px 293px #fff, 1114px 1675px #fff, 1172px 1731px #fff,
    1753px 547px #fff, 1995px 1790px #fff, 955px 708px #fff, 779px 162px #fff,
    1862px 265px #fff, 1330px 857px #fff, 796px 1834px #fff, 994px 1702px #fff,
    92px 1795px #fff, 1091px 626px #fff, 679px 1120px #fff, 67px 1703px #fff,
    529px 1218px #fff, 1802px 1797px #fff, 623px 684px #fff, 1572px 1563px #fff,
    1370px 144px #fff, 531px 1506px #fff, 518px 567px #fff, 399px 1386px #fff,
    1937px 308px #fff, 1484px 1660px #fff, 395px 121px #fff, 1810px 1088px #fff,
    1108px 1643px #fff, 1297px 931px #fff, 1286px 414px #fff, 1994px 1791px #fff,
    592px 1090px #fff, 1684px 612px #fff, 1003px 1422px #fff, 723px 553px #fff,
    337px 49px #fff, 1496px 572px #fff, 1986px 680px #fff, 757px 508px #fff,
    1667px 940px #fff, 1900px 1458px #fff, 1105px 900px #fff, 968px 103px #fff,
    342px 1243px #fff, 108px 490px #fff, 1360px 491px #fff, 1590px 8px #fff,
    971px 253px #fff, 1009px 1039px #fff, 1227px 1700px #fff, 58px 1734px #fff,
    144px 1270px #fff, 833px 644px #fff, 579px 107px #fff, 1208px 347px #fff,
    1450px 1801px #fff, 1187px 908px #fff, 9px 42px #fff, 907px 213px #fff,
    1517px 1147px #fff, 287px 62px #fff, 752px 889px #fff, 897px 1712px #fff,
    446px 1981px #fff, 1025px 400px #fff, 1899px 415px #fff, 463px 1543px #fff,
    645px 847px #fff, 1443px 698px #fff, 304px 456px #fff, 965px 1632px #fff,
    528px 648px #fff, 1715px 171px #fff, 1498px 1949px #fff, 477px 1086px #fff,
    43px 735px #fff, 1075px 1827px #fff, 167px 1173px #fff, 1768px 152px #fff,
    83px 1313px #fff, 1061px 443px #fff, 684px 1715px #fff, 99px 1469px #fff,
    1480px 423px #fff, 417px 85px #fff, 686px 220px #fff, 949px 399px #fff,
    681px 74px #fff, 232px 1111px #fff, 1991px 1559px #fff, 1019px 1300px #fff,
    849px 948px #fff, 1222px 22px #fff, 1252px 1699px #fff, 731px 1909px #fff,
    1973px 972px #fff, 705px 601px #fff, 1207px 1805px #fff, 371px 554px #fff,
    283px 1360px #fff, 1796px 1503px #fff, 200px 1945px #fff, 1587px 11px #fff,
    1526px 1275px #fff, 1125px 1753px #fff, 1216px 1700px #fff, 1677px 20px #fff,
    592px 371px #fff, 1363px 1825px #fff, 324px 139px #fff, 1712px 1735px #fff,
    1829px 1325px #fff, 601px 1234px #fff, 1533px 861px #fff, 1771px 1743px #fff,
    265px 217px #fff, 1317px 326px #fff, 1524px 1042px #fff, 865px 1184px #fff,
    407px 775px #fff, 689px 1176px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1998px 1357px #fff, 32px 473px #fff, 1187px 374px #fff,
    1011px 836px #fff, 1183px 522px #fff, 966px 371px #fff, 1484px 152px #fff,
    1546px 202px #fff, 1795px 655px #fff, 1619px 1698px #fff, 1843px 1019px #fff,
    1451px 1115px #fff, 689px 1391px #fff, 873px 1269px #fff, 1832px 1850px #fff,
    471px 1355px #fff, 880px 635px #fff, 96px 310px #fff, 1437px 682px #fff,
    1033px 827px #fff, 1020px 1884px #fff, 474px 376px #fff, 1134px 95px #fff,
    1143px 1688px #fff, 1973px 1902px #fff, 355px 444px #fff, 1930px 183px #fff,
    1421px 249px #fff, 1224px 466px #fff, 725px 1476px #fff, 161px 1315px #fff,
    1825px 1079px #fff, 742px 1672px #fff, 584px 550px #fff, 1445px 779px #fff,
    1789px 1720px #fff, 29px 1544px #fff, 1181px 704px #fff, 659px 954px #fff,
    1610px 207px #fff, 575px 1178px #fff, 1126px 66px #fff, 1462px 1932px #fff,
    302px 393px #fff, 1491px 1401px #fff, 1360px 1335px #fff, 1945px 977px #fff,
    996px 775px #fff, 799px 644px #fff, 476px 842px #fff, 598px 1701px #fff,
    1680px 398px #fff, 238px 852px #fff, 994px 532px #fff, 249px 573px #fff,
    580px 1140px #fff, 1887px 1204px #fff, 119px 1854px #fff, 11px 1505px #fff,
    583px 1841px #fff, 1450px 579px #fff, 1909px 139px #fff, 183px 996px #fff,
    635px 1131px #fff, 1450px 1752px #fff, 880px 538px #fff, 1740px 895px #fff,
    1488px 1116px #fff, 111px 744px #fff, 380px 675px #fff, 934px 1909px #fff,
    1449px 1123px #fff, 1067px 1345px #fff, 1060px 727px #fff, 567px 449px #fff,
    522px 1475px #fff, 1504px 543px #fff, 141px 1414px #fff, 1080px 338px #fff,
    427px 852px #fff, 1546px 1044px #fff, 385px 1302px #fff, 346px 1940px #fff,
    571px 1602px #fff, 822px 665px #fff, 731px 1518px #fff, 1090px 394px #fff,
    140px 1957px #fff, 229px 1697px #fff, 1574px 1641px #fff, 1182px 1058px #fff,
    546px 133px #fff, 1781px 8px #fff, 261px 1746px #fff, 255px 1521px #fff,
    840px 161px #fff, 1589px 1323px #fff, 756px 535px #fff, 534px 910px #fff,
    464px 608px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1998px 1357px #fff, 32px 473px #fff, 1187px 374px #fff,
    1011px 836px #fff, 1183px 522px #fff, 966px 371px #fff, 1484px 152px #fff,
    1546px 202px #fff, 1795px 655px #fff, 1619px 1698px #fff, 1843px 1019px #fff,
    1451px 1115px #fff, 689px 1391px #fff, 873px 1269px #fff, 1832px 1850px #fff,
    471px 1355px #fff, 880px 635px #fff, 96px 310px #fff, 1437px 682px #fff,
    1033px 827px #fff, 1020px 1884px #fff, 474px 376px #fff, 1134px 95px #fff,
    1143px 1688px #fff, 1973px 1902px #fff, 355px 444px #fff, 1930px 183px #fff,
    1421px 249px #fff, 1224px 466px #fff, 725px 1476px #fff, 161px 1315px #fff,
    1825px 1079px #fff, 742px 1672px #fff, 584px 550px #fff, 1445px 779px #fff,
    1789px 1720px #fff, 29px 1544px #fff, 1181px 704px #fff, 659px 954px #fff,
    1610px 207px #fff, 575px 1178px #fff, 1126px 66px #fff, 1462px 1932px #fff,
    302px 393px #fff, 1491px 1401px #fff, 1360px 1335px #fff, 1945px 977px #fff,
    996px 775px #fff, 799px 644px #fff, 476px 842px #fff, 598px 1701px #fff,
    1680px 398px #fff, 238px 852px #fff, 994px 532px #fff, 249px 573px #fff,
    580px 1140px #fff, 1887px 1204px #fff, 119px 1854px #fff, 11px 1505px #fff,
    583px 1841px #fff, 1450px 579px #fff, 1909px 139px #fff, 183px 996px #fff,
    635px 1131px #fff, 1450px 1752px #fff, 880px 538px #fff, 1740px 895px #fff,
    1488px 1116px #fff, 111px 744px #fff, 380px 675px #fff, 934px 1909px #fff,
    1449px 1123px #fff, 1067px 1345px #fff, 1060px 727px #fff, 567px 449px #fff,
    522px 1475px #fff, 1504px 543px #fff, 141px 1414px #fff, 1080px 338px #fff,
    427px 852px #fff, 1546px 1044px #fff, 385px 1302px #fff, 346px 1940px #fff,
    571px 1602px #fff, 822px 665px #fff, 731px 1518px #fff, 1090px 394px #fff,
    140px 1957px #fff, 229px 1697px #fff, 1574px 1641px #fff, 1182px 1058px #fff,
    546px 133px #fff, 1781px 8px #fff, 261px 1746px #fff, 255px 1521px #fff,
    840px 161px #fff, 1589px 1323px #fff, 756px 535px #fff, 534px 910px #fff,
    464px 608px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: --webkit-linear-gradient(white, #38495a);
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

